/* Fuente y fondo general */
body {
  font-family: 'Inter', sans-serif;
  color: #2f3e2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #ebd7af;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #ffffff; /* Verde muy claro */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 60px;
  width: 100%;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  color: #4b7b38;
  line-height: 1;
}

.logo img {
  height: 60px;
  margin-right: 15px;
  margin-top: -10px;
}

.links a {
  margin-left: 1.2rem;
  text-decoration: none;
  color: #4b7b38;
  font-weight: 600;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #2f5e2f;
}

/* Contenedor del formulario */
.form-container {
  background-color: rgba(203, 229, 192, 0.95); /* Verde hoja suave */
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(75, 123, 56, 0.3);
  width: 340px;
  backdrop-filter: blur(1px);
  margin: 40px 0;
}

/* Campos de entrada */
form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 15px;
  border-radius: 6px;
  border: 1px solid #a4b465;
  box-sizing: border-box;
  color: #2f3e2f;
  font-size: 14px;
  background-color: #f6fff2;
}

/* Botón de registro */
form button {
  width: 100%;
  padding: 10px;
  background-color: #4b7b38; /* Verde intenso */
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #2f5e2f;
}

/* Mensajes flash */
.mensaje-flash {
  background-color: #4b7b38;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 100%;
  text-align: center;
  color: white;
}

/* Checkbox y etiqueta */
form label {
  display: inline-flex;
  align-items: center;
  font-size: 0.85em;
  margin-bottom: 10px;
  user-select: none;
  cursor: pointer;
  color: #2f3e2f;
}

form input[type="checkbox"] {
  margin: 0 4px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

/* Pie de página */
.footer {
  background-color: #4b7b38;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.85rem;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
  width: 100%;
  margin-top: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 0.2rem 0;
  line-height: 1.4;
}

.siguenos-redes {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 0.5rem;
}

.instagram-icon {
  height: 30px;
}
